extends layout

block content
  #content
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAo85WiE3UAlnbmPJppYUK2Zl3UuRF_9NU&v=3')
  script(src="/vendor/jquery/dist/jquery.min.js")
  //- script(src='/vendor/moment/min/moment.min.js')
  script(src="/vendor/Materialize/dist/js/materialize.min.js")
  script(src='/static/bundle.js')
