doctype html
html
  head
    meta(charset='utf-8', name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title The Haps
    link(rel='stylesheet', href='/vendor/Materialize/dist/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src='/vendor/moment/min/moment.min.js')
    script(src="/vendor/Materialize/dist/js/materialize.min.js")
  body
    block content
